<%- include('./partical/head') -%>
<body>
  <%- include('./partical/header') -%>
  <div class="index_head">
    <img src="/images/isso.jpg" class="head_img" >
    <img src="/images/syoyu.jpg" class="head_img">
    <h1 class="head_child">一緒にラーメンを食べに行く仲間を探しましょう</h1>
  </div>
  <%- include('./partical/search_form') -%>
  <footer>
  </footer>
</body>
</html>