<%- include('../partical/head') -%>
<body>
  <%- include('../partical/header') -%>
  <div>
    <% for(let i = 0; i < results.length; i++){ %>
      <%= results[i].id %>
    <% } %>
  </div>
  <footer>
  </footer>
</body>
</html>