/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

header{
  height: 9vh;
  background-color: #fa0;
  display: flex;
  align-items: center;
  justify-content:space-between
}
.head{
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
  padding-left: 20px;
  font-size: 23px;
}
.sign{
  padding-right: 20px;
  font-size: 20px;
}
