body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}

/* index */
.index_head{
  display: flex;
  justify-content: space-around;
  position: relative;
}
.head_img{
  margin-top: 15px;
  width: 600px;
  height: 440px;
  opacity: 0.4;
  text-align: center;
}
.head_child{
  height: 100px;
  position: absolute;
  top: 0;
  bottom :0;
  margin:  auto;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* search */
.ramen{
  display: flex;
  margin: 10px 0px 10px 30px;
  padding-bottom: 10px;
  border-bottom: #fa0 solid;
  width: 90vw;
}
.ramen_info{
  margin-left: 30px;
}
.pagenation{
  display: flex;
  margin-left: 30px;
  justify-content: space-between;
}
.page_btn{
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 16pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ffa64d;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 10px;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  text-decoration: none;
}

/* partical/header */
header{
  height: 9vh;
  background-color: #fa0;
  display: flex;
  align-items: center;
  justify-content:space-between
}
.head{
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
  padding-left: 20px;
  font-size: 23px;
}
.sign{
  padding-right: 20px;
  font-size: 20px;
}

/* sign_in */
.check_lb {
  display:block;
}

/* partical/search_form */
.top_container{
  color: #fa0;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content:space-around
}
.search_item{
  width: 200px;
  height: 23px;
}
.search_btn{
  border: none; 
  background-color: #00CCFF;
  color: white;
}