/* common */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.error{
  color: red;
  font-size: large;
}
.orange{
  color: #ffa64d;
  font-size: large;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
	animation: blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
	0% {opacity: 0.7;}
	100% {opacity: 1;}
}
@keyframes blink {
	0% {opacity: 0.7;}
	100% {opacity: 1;}
}
.block {
  display: block;
}
.fwb{
  font-weight: bold;
}
/* detail_common */
.mt2{
  margin-top: 20px;
}

/* index */
.index_head{
  display: flex;
  justify-content: space-around;
  position: relative;
}
.head_img{
  margin-top: 15px;
  width: 600px;
  height: 440px;
  opacity: 0.4;
  text-align: center;
}
.head_child{
  height: 100px;
  position: absolute;
  top: 0;
  bottom :0;
  margin:  auto;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* search */
.search_parent{
  margin: 10px 0px 10px 30px;
}
.pagenation{
  display: flex;
  justify-content: space-between;
}
.pagenation_child{
  margin-right: 80px;
}
.result_count{
  display: inline-block;
}
.page_btn{
  display       : inline-block;
  border-radius : 20%;
  font-size     : 16pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #ffa64d;
  color         : #ffffff;
  line-height   : 12px;
  transition    : .3s;
  text-decoration: none;
  margin-left: 20px;
}
.not_find{
  text-align: center;
  margin-top: 150px;
}
.ramen_container{
  display: flex;
  border-bottom: #fa0 solid;
  height: 260px;
  width: 90vw;
}
.ramen_info{
  margin: 20px 0 0 30px;
}
.shop_name{
  font-size: large;
}
.img_area{
  width: 240px;
  display: flex;
}
.img_area img{
  display: block; 
  margin: auto;
}
.like_btn{
  display       : inline-block;
  border-radius : 5%;
  margin-top: 15px;
  font-size     : 16pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #ffa64d;
  color         : #ffffff;
  line-height   : 5px;
  transition    : .3s;
  width: 150px;
  border: none;
  text-decoration: none;
}
.completed_btn{
  background-color: darkgray;
  border: none;
  margin-top: 15px;
}

/* like/index */
.like_parent{
  margin: 0 30px;
}
.like_info{
  margin: 20px 0;
  border-bottom: #fa0 solid;
}
.go_btn{
  border-radius : 5%;
  margin-bottom: 15px;
  font-size     : 16pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #ffa64d;
  color         : #ffffff;
  line-height   : 5px;
  transition    : .3s;
  width: 300px;
  border: none;
  text-decoration: none;
}
/* partical/header */
header{
  height: 9vh;
  background-color: #fa0;
  display: flex;
  align-items: center;
  justify-content:space-between
}
.head{
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
  padding-left: 20px;
  font-size: 23px;
}
.sign{
  padding-right: 20px;
  font-size: 20px;
}

/* sign_in */
.user_parent{
  text-align: center;
  height: 100vh;
  position: relative;
}
.user_child{
  position:absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 300px;
}
.user_child h1{
  margin-bottom: 40px;
}

.user_inp{
  border-radius : 5%;
  opacity: 0.7;
  font-size     : 16pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #ffa64d;
  line-height   : 10px;
  border: none;
  width: 300px;
}
.user_btn{
  margin: 20px;
  margin-left: 32%;
  border: none; 
  background-color: #00CCFF;
  color: white;
  width: 120px;
  font-size: 16pt;
}

/* user/my_page */
.user_name{
  text-align: center;
}

/* partical/search_form */
.top_container{
  color: #fa0;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content:space-around
}
.search_item{
  width: 230px;
  height: 23px;
}
.search_btn{
  border: none; 
  background-color: #00CCFF;
  color: white;
}